.karnegi-rotation {
    animation: kaufman__rotate 25s linear infinite;
  }  
  
    @keyframes kaufman__rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }