.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.info-card input {
    text-align: center;
}

